
<div class="container bg-white shadow mt-5 py-2 px-4">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-bs-toggle="tab" routerLink="/elements">Elements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-bs-toggle="tab" routerLink="/collections">Collections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-bs-toggle="tab" routerLink="/views">Views</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" data-bs-toggle="tab" routerLink="/mods">Mods</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

